body {
    background-color: lightsalmon;
}
.ui-tabs .ui-tabs-nav
{
    background: darksalmon;
}

.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
{
    background: #999999;
}

#tabs .ui-tabs-active{
    background: saddlebrown;
}


.ui-tabs .ui-tabs-nav li a {
    font-size:30pt;
    background: indianred;
    width: 350;
    height: 40;
    text-align: center;
}

.ui-tabs .ui-tabs-nav {
    text-align: center;
}

.ui-tabs .ui-tabs-nav li {
    float: none !important;
    display: inline-block;
}