body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    
    border-style: double;
    border-width: 6px;
    text-align: center;
    font: italic small-caps bold 44px Georgia, sans-serif; /* fallback for older browsers */
    font: extended italic small-caps bold 44px Georgia, sans-serif;
}

#img1{
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    opacity: 0.1;
}

#img2{
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    opacity: 0.2;

}

#img3{
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    opacity: 0.3;

}
#img4{
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    opacity: 0.5;

}
#img5{
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    opacity: 0.8;
}

.invisible{
	display:none;
}
input: invalid{
	border:2px solid red;
}


input[type="checkbox"]:hover {
  height: 20px;
  -webkit-transition: width 0.1s ease;
  -moz-transition: width 0.1s ease;
  -o-transition: width 0.1s ease;
  -ms-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

input[type="checkbox"]:hover {
  width: 30px;
}